* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#main {
    background-image: linear-gradient(45deg, #b3282f, #6b3074);
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#mainBox {
    width: 60%;
    height: 60%;
    background-color: white;
    border-radius: 20px;
    display: flex;
}

.player {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

#player1 {
    background-color: #d9a3b0;
}

#player2 {
    background-color: #ad6e8d;
}

.detailsAndTotalScore{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.detailsAndTotalScore h3{
    font-size: 40px;
}

.detailsAndTotalScore h1{
    font-size: 100px;
}