*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#main{
    background-image: linear-gradient(45deg, #b3282f, #6b3074);
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#mainBox{
    width: 60%;
    height: 60%;
    background-color: white;
    border-radius: 20px;
}